<div class="header">
  <div class="container">
    <%= link_to image_path("logo_99chairs.png") do %>
      <%= image_tag "logo_99chairs.png" %>
    <% end %>
    <h1>Todos</h1>
  </div>
</div>

<div class="todos">
  <div class="container">
  
    <% @todos.each do |todo| %> 
	<div class="todo">
  <form>
    <label>
        <input name="checkbox-0 " type="checkbox">
    </label>
  </form>

		<p class="content"><%= todo.content %></p>
    <p class="time"><%= todo.created_at %></p>
    <% if todo.uid %>
		  <%= link_to "User#{todo.uid}", "/users/#{todo.uid}/todos" %>
      <%= link_to "Edit", "/users/#{todo.uid}/todos/#{todo.id}" %>
      <%= link_to "Delete", "/users/#{todo.uid}/todos/#{todo.id}/delete" %>
    <% else %>
      <%= link_to "Edit", "/todos/#{todo.id}" %>
      <%= link_to "Delete", "/todos/#{todo.id}/delete" %>
    <% end %>
	</div> 
	<% end %>
  <%= link_to "New Todo", "/todos/new" %>

  </div>
</div>