<div class="header">
  <div class="container">
    <%= link_to image_path("logo_99chairs.png") do %>
      <%= image_tag "logo_99chairs.png" %>
    <% end %>
    <% if @user %>
      <h1>Create Todo for User <%= @user %></h1>
    <% else %>
      <h1>Create Todo</h1>
    <% end %>
  </div>
</div>

<div class="create">
  <div class="container">
    
<%= form_for(@todo) do |f| %>  
  <div class="field"> 
    <%= f.label :todo %><br> 
    <%= f.text_area :content %> 
    <%= f.hidden_field :uid, :value => @user %>
  </div> 
  <div class="actions"> 
    <%= f.submit "Create" %> 
  </div> 
<% end %>
   
</div>
</div>
